@import '../../../scss/settings/fonts';
@import '../../../scss/settings/colors';
@import '../../../scss/settings/otherVariables';

.simple-steps-column {
    width: 130px;
    height: 172px;

    &-img {
        width: 83px;
        height: 83px;
    }

    &-title {
        font-family: $font-base;
        font-size: 18px;
        color: $black-color;
    }

    &-text {
        font-family: $font-base;
        font-size: 16px;
        color: $black-color;
        height: 40px;
        width: 100%;
    }
}


.simple-steps-column:nth-child(2) {
    .simple-steps-column-title {
        margin-top: 12px;
    }
}